.side-bar{
    height: calc(100vh - 56px);
    background: rgb(248,248,248);
    background: linear-gradient(0deg, rgba(248,248,248,1) 0%, rgba(227,237,255,1) 100%);
}

#addJob{
    text-align: center;
    background-color: #212529;
    color: white;
    border-radius: 10px;
    width: 150px;
}

#addJob:hover{
    background-color: #2a2e33;
    cursor: pointer;
}

.heading-text{
    font-weight: bold;
    font-size: 18px;  
}

.contact-button{
    background: #4682B4;
    border-color: transparent;
}
.contact-button:hover {
    border-color: transparent;
    background: #4682B4;
}
.contact-button:active:focus, .contact-button:focus{
    box-shadow:#4683b469 0px 0px 0px 3.23261px;
    border-color: transparent;
    background: #4682B4;
}