.about-pic {
  height: 610px;
  background-image: url("../../images/about.svg");
  background-repeat: no-repeat;
  background-position: 0% 20px;
}

.description {
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Dosis", sans-serif;
  margin-left: 300px;
}

.para {
  font-size: 22px;
}

.heading {
  font-weight: bold;
}

.guide {
  font-family: "Dosis", sans-serif;
}

.how-to {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
}

.card-border {
  border-radius: 10px;
}
