/* About EZ Apply Allowing job seekers to apply for jobs easly while giving recruiters easier way to post and recruit new hires 
Vision 
Create economic opportunity for every member of the workforce 
Who are we? 
EZ Apply was created in Fall 2021 by 5 students in CS 160 for a class project. We wanted to make a easy way for people to apply for jobs becuase of the shortange that happened due to COVID-19 */

input[type=text] {
position: absolute;
width: 916px;
height: 496px;
left: 118px;
top: 128px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 59px;
text-align: center;

color: #000000;
}

