.signUpBG {
  height: 100vh;
  overflow-y: scroll;
  background-image: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1471&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  }
  
  .signUpBG > h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    padding-top: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 8px #2e2c2c;
  }
  
  .whiteBG {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    width: 40%;
    height: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .input-form{
    position: absolute;
    top: 4em;
  }
  
  .AddWorkExperience{
    border: 1px solid lightblue;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
  }
  
  