
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.job-title {
  font-family: "Roboto", "sans-serif";
  font-weight: bold;
  font-size: 48px;
}

.logo {
  width: 100px;
  height: 100px;
  padding: 0px;
}

.jobseeker-ds-background{
  height: calc(100vh - 56px);
  background-image: url('../../images/jobseeker-dashboard-bg.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.jobseeker-card-background{
  height: calc(100vh - 56px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0725) 0%, rgba(196, 196, 196, 0) 100%);
  background-size: 100%;
}

.dismiss-btn{
  width: 65px;
  height: 65px;
  background-color: #4D8DFF;
  border-radius: 19px;
  background-image: url('../../images/dismissLogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.dismiss-btn:hover{
  cursor: pointer;
  background-color: #5b95fa;
}

.apply-btn{
  width: 65px;
  height: 65px;
  background-color: #740A76;
  border-radius: 19px;
  background-image: url('../../images/applyLogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.apply-btn:hover{
  background-color: #79177b;
  cursor: pointer;
}

.learn-more-text{
  color: rgba(0, 0, 0, 0.57);
}

.learn-more-text:hover{
  cursor: pointer;
  color: #5365FD;
}

.alternate-image{
  width: 100px;
  height: 100px;
  background: linear-gradient(344deg, rgba(83,101,253,1) 0%, rgba(70,180,158,1) 100%);
  line-height: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 75px;
}

.company-description{
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 2; 
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
}

.heading-text{
  font-weight: bold;
  font-size: 18px;
}

.refresh-button{
  height: 57px;
  width: 224px;
  left: 469px;
  top: 484px;
  border-radius: 9px;
  background: #4682B4;
  border-color: transparent;
}
.refresh-button:hover {
  border-color: transparent;
  background: #4682B4;
}
.refresh-button:active:focus, .refresh-button:focus{
  box-shadow:#4683b469 0px 0px 0px 3.23261px;
  border-color: transparent;
  background: #4682B4;
}